* {
    font-family: 'Nunito Sans', sans-serif;
}

.navbar {
    margin-bottom: 30px;
}

.navbar span {
    /* padding: 10px; */
}

.paddingR5 {
    padding-right: 5px;
}

#themeButton {
    display: none;
}

#themeButton+label:before {
    content: "\f186";
    padding-right: 5px;
    font-family: 'FontAwesome' !important;
}

#themeButton:checked+label:before {
    /* content: "\f0aa"; */
    color: red;
}