* {
    font-family: 'Nunito Sans', sans-serif;
}

.noPadding {
    padding: 0 !important;
}

.countries {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.countries li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.countries li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.countries li.selected {
    background-color: #CFD8DC;
    color: white;
}

.countries li.selected:hover {
    background-color: #BBD8DC;
    color: white;
}

.countries .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.theCard {
    margin: 0 0 30px 0 !important;
    border: 1px solid #000 !important;
}

.theCardTitle {
    font-weight: 800;
}

.theCardBody {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    font-size: 14px;
}

.theCardBody span {}

.selectedCountry h4 {
    font-weight: 800;
}

.search-country {
    margin: 0 0 30px 0;
}


/* .errspan {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
} */

.input-wrapper {
    display: inline-block;
    position: relative
}

.input-wrapper input {
    padding-left: 35px;
}

.input-wrapper:after {
    font-family: 'FontAwesome' !important;
    content: '\f002';
    position: absolute;
    left: 26px;
    top: 6px;
}

i {
    font-family: 'FontAwesome' !important;
}

*:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: initial;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
}

.flag {
    height: 160px;
}