.appContainer {
    background-color: var(--bg-color) !important;
    color: var(--font-color) !important;
}

.appContainer .theInput {
    background-color: var(--element-color);
    color: var(--font-color) !important;
    border: 0 !important;
    box-shadow: 0 0 2px var(--input-color);
}

.appContainer .theInput:focus {
    box-shadow: 0 0 2px var(--input-color) !important;
}

.appContainer .theElement,
.theElement {
    background-color: var(--element-color);
    box-shadow: 0 0 2px var(--input-color);
    color: var(--font-color)
}

.appContainer .bg {
    padding: 0 80px;
}

.appContainer nav {
    border-bottom: 2px solid var(--input-color);
    background-color: var(--element-color);
}

.backButton {
    padding: 8px 4px;
    width: 130px;
    text-align: center;
    border-radius: 2px;
}

.backButton i {
    margin: 0 15px 0 0;
}

.paddingT30 {
    padding: 30px 0 0 0 !important;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    margin: 0 0 30px 0;
    flex-wrap: wrap;
    font-size: 16px;
}

.flexContainer h4 {
    font-weight: 600;
}

.flexColumn {
    margin-bottom: 30px;
}

label {
    font-weight: 600;
}

.borderCountries {
    border-radius: 2px;
    width: auto;
    margin-right: 8px;
    padding: 4px;
    text-align: center;
}

.marginTB50 {
    margin: 50px 0;
}

* {
    font-family: 'Nunito Sans', sans-serif;
}

.noPadding {
    padding: 0 !important;
}

.theCard {
    margin: 0 0 30px 0 !important;
    cursor: pointer;
}

.theCardTitle {
    font-weight: 800;
}

.theCardBody {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    font-size: 14px;
}

.selectedCountry h4 {
    font-weight: 800;
}

.search-country {
    margin: 0 0 30px 0;
}

.input-wrapper {
    display: inline-block;
    position: relative
}

.input-wrapper input {
    padding-left: 35px;
}

.input-wrapper input:focus {
    color: var(--font-color);
    background-color: var(--element-color)
}

.input-wrapper:after {
    font-family: 'FontAwesome' !important;
    content: '\f002';
    position: absolute;
    left: 26px;
    top: 6px;
    color: var(--font-color);
}

i {
    font-family: 'FontAwesome' !important;
}

*:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: initial;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
}

select option::after {
    margin: 10px;
}

.flag {
    height: 160px;
}

.pointer {
    cursor: pointer;
}

.navbar {
    margin-bottom: 30px;
}

.navbar span {
    color: var(--font-color);
}

.paddingR5 {
    padding-right: 5px;
}

#themeButton {
    display: none;
}

#themeButton+label:before {
    content: "\f186";
    padding-right: 5px;
    font-family: 'FontAwesome' !important;
}

#themeButton:checked+label,
#themeButton:checked+label:before {
    color: var(--font-color) !important;
    font-family: 'Nunito Sans', sans-serif;
}